#header{
    display: flex;
    width: 100%;
    background-color: #12001C;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
    border-bottom: #b5bcbc87;
    border-style: double;
    border-width: 1px;
}

#nav{
    padding-right: 20px;
}

.container_menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
}

.container_menu li{
    text-decoration: none;
    list-style: none;
    font-size: 12pt;
    letter-spacing: 6px;
    justify-content: space-between;
}

.container_menu li a{
    text-decoration: none;
    color: rgb(133, 141, 147);
}

.container_menu li a:hover{
    color: #280E36;
}

#btn-mobile{
    display: none;
}

@media (max-width: 700px){
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color:#280E36
    }
    .container_menu{
        display: block;
        position: absolute;
        justify-content: center;
        width: 100%;
        top: 3rem;
        right: 0px;
        background-color: #12001C;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #nav.active .container_menu{
        height:  calc(100vh - 3rem);
        visibility: visible;
        overflow-y: auto;
    }

    .container_menu a{
        padding: 0rem 1rem;
        margin: 1rem 1rem;
        font-size: 18pt;
        border-bottom: 2px solid #280E36;
    }
    #hamburger{
        border-top: 2px solid;
        width: 20px;
        color: #f3fbfb;
    }

    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background-color: currentColor;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color:transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}