.container_portifolio{
    background-color: #280E36;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 45rem;
    
}

.container_projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 2rem 0rem 1rem 0rem;
}

.projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    background-color: #12001C;
    border-radius: 10px;
    padding: 15px;
    
}

.projeto_fundo{
    background-color: #12001C;
    border-radius: 1rem;
    padding: 1rem;
    word-break: break-all;
}

.projetos h3{
    font-size: 22pt;
    font-weight: 800;
    padding-top: 2rem;
}

.img_vazia{
    width:350px;
    height: 190px;
    background-color: #060008ba;
    display: flex;
    border-radius: 1rem;
}

.card {
    
  
    background-color: rgb(12, 1, 26);
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 0.5rem;
    overflow: hidden;
  
    
    > :last-child {
      margin-bottom: 0;
    }
    
    &:hover,
    &:focus-within {
      --card-gradient: #24a9d5 max(8.5rem, 20vh);
    }
  }
  
  .card img {
    --card-gradient: none;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    max-width: 600px;
    object-fit: cover;
    height: max(7rem, 20vh);
    max-height: max(8rem, 60vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
    filter: grayscale(0);

    ~ * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  
  .card h3 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
  
  .card a {
    color: inherit;
  }
  
  .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 60vw;
    width: 80ch;
    padding-left: 1rem;
    padding-right: 1rem;
  } 

 /* @media (min-width: 700px){

    .projetos{
        width: 23rem;
        height: 25rem;
        
    }
}

@media (max-width: 700px){
    
    .projetos{
        width: 8rem;
        height: 8rem;
    }
}  */