.container_portifolio{
    background-color: #280E36;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 600px;
    
}

.container_projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 2rem 0rem 1rem 0rem;
    
}

.projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    background-color: #12001C;
    border-radius: 10px;
    padding: 15px;
}

.projeto1{
    background-image: url("https://img.freepik.com/fotos-gratis/variedade-plana-com-deliciosa-comida-brasileira_23-2148739179.jpg?w=740&t=st=1669495458~exp=1669496058~hmac=9ed76ff4e1446de035fe49814e67c104d4df85f7ef0003869ba4225450ee330a");
    image-rendering: auto;
    background-size: inherit;
}

@media (min-width: 700px){

    .projetos{
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 700px){
    
    .projetos{
        width: 8rem;
        height: 8rem;
    }
}