.time img, .revisao img{
    size-adjust: 3rem;
    max-width: 8rem;
    border-radius: 5rem;
}

.mybackground{
    background-image: url(imagens/fundositerestaurante.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -10rem;
}



.img_pratos{
    max-width: 250px;
    
}

@media (max-width: 700px){
    .img_pratos{
        max-width: 180px;
    }
    .mybackground{
        background-size: 180%;
        background-position-y: -4rem;
    }
}